.avatar {
    border: 1px solid #000;
    background-color: aqua;
    opacity: 0.9;
}

.draggable {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
  }